@charset "UTF-8";
@font-face {
    font-family: 'Joker';
    src: url('joker.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bassa+Vah:wght@600&display=swap');
/* font-family: 'Noto Sans Bassa Vah', sans-serif;*/
:root {
    --cor0: #532273; /*Purple*/
    --cor1: #009B43; /*Green*/
    --cor2: #A6779E; /*Purple -1*/
    --cor3: #137D4C; /*Green -1*/
}
body { 
    width: auto;
    font-weight: bold;
    color: var(--cor1);
    margin: center;
    font-family: 'Noto Sans Bassa Vah', sans-serif;
    background-color: var(--cor0);
    background-image: url(fotos/317-3175505_joelforbes-why-so-serious-smile-home-rug-joker.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
   
    
    
}
img { 
    width: auto;
    min-width: 400px;
    max-width: 450px;
}
header {
    

}
nav  a{
    color: var(--cor1);
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
nav a:hover {
    color:  #FA0201;
}
.title {
   
    position: fixed;
    width: 100%;
    margin: center;
    color: #000;
    font-size: 3em;
    text-align: center;
    background-color: var(--cor1);
    font-family: 'Joker';
} 
main abbr {
    text-decoration: none;

}
h2 {
    font-size: 2em;
    font-family: 'Joker';
}
p {
    padding-top: 50px;

    min-width: 400px;
    margin: 15px 0px;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.2em;
    text-align: justify;
    width: 50%;
} 
main aside {
    text-align: center;
} aside p {
    font-weight: bold;
    min-width: 400px;
    margin: 15px 0px;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.2em;
    margin: auto;
    text-align: center;
} 
aside q {
    font-weight: bold;
    min-width: 400px;
    margin: 15px 0px;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.2em;
    display: block;

    text-align: center;
}
h3 {
    font-family: 'Joker';
    font-size: 2em;
}
footer {
    text-align: center;
}